<%- include("./partials/header.ejs")%>
<%- include("./partials/nav.ejs")%>

<%allexpenses.forEach((elm, index )=>{%>
   <h3> expense number <%=index+1%> :-  <%=elm.title%> || <a href="/expense/delete/<%=elm._id%>">delete Expense</a> || <a href="/expense/details/<%=elm._id%>">Detials</a></h3>
<%})%>




<%- include("./partials/footer.ejs")%>